name: PipeLine

on:
  pull_request:
    types: [closed]
    branches:
      - dev

permissions:
  contents: read

jobs:
  code-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Download SonarCloud Metrics
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          curl -u $SONAR_TOKEN: \
          "https://sonarcloud.io/api/measures/component?component=Neyvk_retake_Pipeline&metricKeys=bugs,vulnerabilities,code_smells,coverage,duplicated_lines_density" \
          -o sonar_metrics.json


      - name: Send Telegram notification
        run: python send_notification.py
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        CHAT_ID: ${{ secrets.CHAT_ID }}
        GITHUB_REPOSITORY: ${{ github.repository }}
        PR_TITLE: ${{ github.event.pull_request.title }}
        PR_SOURCE_BRANCH: ${{ github.event.pull_request.head.ref }}
        PR_TARGET_BRANCH: ${{ github.event.pull_request.base.ref }}
        PR_URL: ${{ github.event.pull_request.html_url }}
        RELEASE_TAG: ${{ github.ref_name }}
